#mesa {
    width: 90vw; 
    height: 90vh; 
    margin: 5vh auto; 
    position: relative; 
    background: radial-gradient(circle at center, #2e7d32 60%, #1b5e20);
    border-radius: 15px;
    box-shadow: inset 0 0 20px #0008;
}


#mesa img {
    width: 120px; 
    height: 180px; 
    border: 1px solid white; 
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


#carta-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


#mano-jugador {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    gap: 10px; 
}

.mano-rival-derecha {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-55%); 
    display: flex;
    flex-direction: column;
}

.mano-rival-derecha img {
    transform: rotate(90deg); /* o center left según necesites */
    margin-bottom: -50px; /* negativo para superponerlas más */
}

.mano-rival-arriba {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.mano-rival-izquierda {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-55%);
    display: flex;
    flex-direction: column;
}

.mano-rival-izquierda img {
    transform: rotate(-90deg);
    margin-bottom: -50px;
}